#title{
    background-color: rgb(40, 133, 141);
    height: 750px;
}

#title h1{
    font-family: 'Cormorant Garamond', serif;
    color: rgb(225, 230, 232);
    font-size: 70px;
}

#title p{
    color:rgb(225, 230, 232);
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Dosis', sans-serif;
}

h2{
    font-family: 'Cormorant Garamond', serif;
    color:rgb(113, 208, 179);
    font-weight: 800;
}

#introduction img{
    border-radius: 100px;
}

.btn{
    background-color: rgb(40, 133, 141);
    color:rgb(225, 230, 232);
}

#footer{
    background-color:rgb(40, 133, 141);
    height: 100px;
}

@media screen and (max-width:450px){
    #title img{
        width:400px;
        height: 400px;
        padding-bottom: 30px;
        padding-right: 140px;
        
    }
    
}